html {
  font-size: 10px;
  background: url(https://source.unsplash.com/gv1T8bOoAUs) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.row {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
}

.first {
    align-items: flex-start;
    padding-top: 7%;
}

.second {
    align-items: center;
}

.third {
    align-items: flex-end;
}

.keys {
    min-height: 100vh;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #c0fad0;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #12c742;
  box-shadow: 0 0 1rem #12c742;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #12c742;
}

.credit {
  color: #c0fad0;
  text-align: center;
  text-shadow: 0 0 .5rem black;
  background-color: rgba(79, 79, 79, 0.5);  
  margin-top: 40px;
  margin-right: 511px;
  margin-left: 511px;
  border-radius: 25px;
}
